<html>
    <head>
        <title>NinBuddy Dashboard</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <!--L, ZL, R, ZR-->
        <img src="{{ url_for('static', filename='button_l.png') }}" style="width: 13%; height: 11%; position: absolute; top: 0; left: 0;">
        <img src="{{ url_for('static', filename='button_zl2.png') }}" style="width: 10.15%; height: 11%; position: absolute; top: 0; left: 10.5%;">
        <img src="{{ url_for('static', filename='button_r.png') }}" style="width: 13%; height: 11%; position: absolute; top: 0; left: 87%;">
        <img src="{{ url_for('static', filename='button_zr2.png') }}" style="width: 10.15%; height: 11%; position: absolute; top: 0; left: 79.35%;">

        <!--X, A, B, Y-->
        <img src="{{ url_for('static', filename='button_x.png') }}" style="width: 10%; height: 20%; position: absolute; top: 20%; left: 70%;">
        <img src="{{ url_for('static', filename='button_a.png') }}" style="width: 10%; height: 20%; position: absolute; top: 35%; left: 79%;">
        <img src="{{ url_for('static', filename='button_b.png') }}" style="width: 10%; height: 20%; position: absolute; top: 50%; left: 70%;">
        <img src="{{ url_for('static', filename='button_y.png') }}" style="width: 10%; height: 20%; position: absolute; top: 35%; left: 61%;">

        <!--Up, Right, Down, Left-->
        <img src="{{ url_for('static', filename='dpad_up.png') }}" style="width: 10%; height: 20%; position: absolute; top: 40%; left: 30%;">
        <img src="{{ url_for('static', filename='dpad_right.png') }}" style="width: 10%; height: 20%; position: absolute; top: 55%; left: 39%;">
        <img src="{{ url_for('static', filename='dpad_down.png') }}" style="width: 10%; height: 20%; position: absolute; top: 70%; left: 30%;">
        <img src="{{ url_for('static', filename='dpad_left.png') }}" style="width: 10%; height: 20%; position: absolute; top: 55%; left: 21%;">

        <!--Left Joystick-->
        <img src="{{ url_for('static', filename='joystick.png') }}" style="width: 15%; height: 30%; position: absolute; top: 20%; left: 10%;">
        <img src="{{ url_for('static', filename='joystick.png') }}" style="width: 10%; height: 20%; position: absolute; top: 25%; left: 12.5%;">

        <!--Right Joystick-->
        <img src="{{ url_for('static', filename='joystick.png') }}" style="width: 15%; height: 30%; position: absolute; top: 60%; left: 55%;">
        <img src="{{ url_for('static', filename='joystick.png') }}" style="width: 10%; height: 20%; position: absolute; top: 65%; left: 57.5%;">

        <!--Minus, Plus-->
        <img src="{{ url_for('static', filename='button_minus.png') }}" style="width: 5%; height: 10%; position: absolute; top: 15%; left: 35%;">
        <img src="{{ url_for('static', filename='button_plus.png') }}" style="width: 5%; height: 10%; position: absolute; top: 15%; left: 55%;">

        <!--Screenshot, Home-->
        <img src="{{ url_for('static', filename='button_ss.png') }}" style="width: 5%; height: 10%; position: absolute; top: 23%; left: 40%;">
        <img src="{{ url_for('static', filename='button_home.png') }}" style="width: 5%; height: 10%; position: absolute; top: 23%; left: 50%;">

        <button id="game-controller-button"></button>
        <!--<div id="joystick-area"></div>-->
        <!-- onmousedown="buttonPressed()" onmouseup="buttonReleased()" ontouchstart="buttonPressed()" ontouchend="buttonReleased()"-->

        <h1>
            <div id="msg" style="text-align:center">
                Waiting for Raspberry Pi...
            </div>
        </h1>
        
        <script src="main.js"></script>
    </body>
</html>