#game-controller-button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 9999;
    position: absolute;
}

#centred-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-align: center;
    z-index: 9999;
    font-family: 'Helvetica', sans-serif;
}

.controls {
    display: none;
}